---
import '../pages/styles/global.css';
import Navigations from '../components/Navigations.astro';
import Footer from '../components/Footer.astro';
const page_title="About Page"
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{page_title}</title>
	
	</head>
	<body>
        <Navigations />

        
		
		<center><h1 style="color:blueviolet; font-family:monospace;">Astro Website About Section</h1></center>
        <p>Hii<br>This is the about page of our astro build blog.</p>
        <p>I am learning the Astro framework for web development.<br>This Page will be upadted shortly.</p>

		<Footer />

	</body>
</html>
